@model JogoListViewModel

<div class="container my-5" style="color: #f5f5f5;">
    <h2>@Model.CategoriaAtual</h2>

    @if (!Model.Jogos.Any() && !Model.Acessorios.Any())
    {
        <p>Nenhum item encontrado.</p>
    }
    else
    {
        @if (Model.Jogos.Any())
        {
            <h3 class="mt-4">Jogos</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                @foreach (var jogo in Model.Jogos)
                {
                    <partial name="_JogosResumo" for="@jogo" />
                }
            </div>
        }

        @if (Model.Acessorios?.Any() == true)
        {
            <h3 class="mt-5">Acessórios</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                @foreach (var acessorio in Model.Acessorios)
                {
                    <partial name="_AcessorioResumo" for="@acessorio" />
                }
            </div>
        }
    }
</div>
