<br />
<div class="container text-center">
    <i class="fa-solid fa-triangle-exclamation marginTop1" style="font-size: 4rem; color: red;"></i>
    <div class="jumbotron">
        <p>
            <h2>ERRO: TENTE NOVAMENTE</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Voltar à Home Page
    </a>
</div>
