@model int

<a asp-controller="Notificacoes" asp-action="Index"
   class="nav-link position-relative text-white"
   title="Minhas Notificações">
    <i class="fa-solid fa-bell fa-lg"></i>

    @if (Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger"
              style="font-size: 0.6rem; width: 18px; height: 18px; display: flex; align-items: center; justify-content: center;">
            @Model
        </span>
    }
</a>
